<div class="card border-0 hover-shadow-lg" style="height: 300px">
  <div class="card-body p-3 pt-0 text-center">
    <div class=row">
      <span class="badge badge-primary">
        <i class="fas fa-fish"></i>Dauphin d'eau douce
      </span>

      <span class="badge badge-warning">
        <i class="fas fa-user-astronaut"></i>Tête brulée
      </span>

      <span class="badge badge-success">
        <i class="fas fa-tree"></i>Nature lover
      </span>

      <span class="badge badge-danger">
        <i class="fas fa-user-injured"></i>Casse-cou
      </span>
    </div>
    <div class=row">
      <span class="badge badge-soft-primary badge-pill">
        Gourou
      </span>
    </div>
    <div class=row">
      <span class="badge badge-dot badge-lg">
        <i class="bg-success"></i>Warning
      </span>
    </div>
    <div class=row">
      <span class="badge badge-success badge-circle">
        3
      </span>

      <span class="badge badge-danger badge-circle">
        3
      </span>

      <span class="badge badge-warning badge-circle">
        3
      </span>
    </div>
    <div class=row">
      <div class="icon text-secondary icon-sm">
        <i class="fas fa-mountain"></i>
      </div>
      <div class="icon text-danger hover-rotate-360 icon-sm">
        <i class="fas fa-ambulance"></i>
      </div>
      <div class="icon icon-warning rounded-circle icon-shape icon-sm">
        <i class="fas fa-medal"></i>
      </div>
      <div class="icon icon-success icon-shape icon-sm">
        <i class="fas fa-trophy"></i>
      </div>
      <div class="icon bg-gradient-warning text-white rounded-circle icon-shape icon-sm hover-rotate-360">
        <i class="fab fa-xbox"></i>
      </div>
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div> 
  </div>
</div>