<div class="card border-0 hover-shadow-lg" style="height: 300px; overflow: scroll">
  <div class="card-body p-3 pt-0 text-center">
    <div class=row">
      <span class="badge badge-primary badge-pill">
        <i class="fas fa-fish"></i>Dauphin d'eau douce
      </span>
    </div>
    <div class=row">
      <span class="badge badge-warning badge-pill">
        <i class="fas fa-user-astronaut"></i>Tête brulée
      </span>
    </div>
    <div class=row">
      <span class="badge badge-success badge-pill">
        <i class="fas fa-tree"></i>Nature lover
      </span>
    </div>
    <div class=row">
      <span class="badge badge-danger badge-pill">
        <i class="fas fa-user-injured"></i>Casse-cou
      </span>
    </div>
    <div class=row">
      <span class="badge badge-dot badge-lg">
        <i class="bg-success"></i>Under Construction
      </span>
    </div>
    <div class=row">
      <div class="icon icon-warning rounded-circle icon-shape icon-sm hover-rotate-360">
        <i class="fas fa-medal"></i>
      </div>
      <div class="icon icon-success icon-shape icon-sm hover-rotate-360">
        <i class="fas fa-trophy"></i>
      </div>
      <div class="icon bg-gradient-warning text-white rounded-circle icon-shape icon-sm hover-rotate-360">
        <i class="fab fa-xbox"></i>
      </div>
    </div>
    <div class=row">
      <span class="badge badge-warning badge-circle">
        12
      </span>
      <span>Golden Challenges</span>
    </div>
    <div class=row">
      <span class="badge badge-danger badge-circle">
        5
      </span>
      <span>times top Huzzer</span>
    </div>
  </div>
</div>