<div class="card-body py-3">
  <div class="row row-grid align-items-center">
    <div class="col-lg-9">
      <div class="media align-items-center">
        <a href="#" class="avatar avatar-md rounded-circle mr-3">
          <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/7/1552821633-logohuzza.jpg">
        </a>
        <div class="media-body">
          <h5 class="text-white mb-0"><%= user.full_name%></h5>
          <div>
            <span class="text-white">Arrête de pimper ton profil et va plutot challenger tes potes !</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto flex-fill mt-4 mt-sm-0 text-sm-right d-none d-lg-block">
      <%= link_to news_index_path, class:"btn btn-sm btn-white rounded-pill btn-icon shadow" do %>
        <span class="btn-inner--icon"><i class="fas fa-fire"></i></span>
        <span class="btn-inner--text">Voir le Feed</span>
      <% end %>
    </div>
  </div>
</div>