<% case status %>
<% when "created" then displayed_dares = user.created_dares %>
<% when "starred" then displayed_dares = user.starred_dares %>
<% end %>

<% if displayed_dares != nil %>

  <% displayed_dares.reverse.each do |dare| %>
    <div style="margin-top: 50px">
      <div class="container ">
        <div class="col-md-12 mx-auto participationCard">
          <%= render "shared/dare_card", dare: dare, friend: user, occasion: nil, disclaimer: false %>
        </div>
      </div>
    </div> 
  <% end %>
  
<% else %>

  <% if current_user == user %>
    <% case status %>
    <% when "created" %>
      Vous n'avez aucun défi créé pour le moment. Un peu d'imagination voyons !
    <% when "starred" %>
      Vous n'avez aucun défi favori pour le moment. Laissez-vous guider par la communauté !
    <% end %>
  <% else %>
    <% case status %>
    <% when "created" %>
      <%= user.full_name %> n'a encore pas créé de défi. Mais il nous a promis qu'il allait s'y mettre.
    <% when "starred" %>
      <%= user.full_name %> n'a encore pas de défi favori. Mais il est un peu timide m'voyez.
    <% end %>
  <% end %>

<% end %>

<%= javascript_include_tag "user_cards_scripts" %>