<div class="card card-body border-0 hover-shadow-lg text-center"  style="height: 300px; overflow: scroll">

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize">79 amis</h6>
    <div class="avatar-group hover-avatar-ungroup mb-3" style="margin-left: 8px">
      <a href="#" class="avatar rounded-circle avatar-sm">
        <img alt="Image placeholder" src="http://sunrift.com/wp-content/uploads/2014/12/Blake-profile-photo-square.jpg" class="">
      </a>
      <a href="#" class="avatar rounded-circle avatar-sm">
        <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/2/1552390314-team-2-800x800.jpg" class="">
      </a>
      <a href="#" class="avatar rounded-circle avatar-sm">
        <img alt="Image placeholder" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9yopke-Q-9C0sIp-LATFTYllAJtple1ZjDuDqRlp6UCAl3RMgHA" class="">
      </a>
      <a href="#" class="avatar rounded-circle avatar-sm">
        <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/3/1552497988-plus.jpg" class="">
      </a>
    </div>
  </div>

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize">113 défis créés</h6>
    <span class="counter" data-from="0" data-to="1000" data-speed="1500" data-refresh-interval="100"></span>
  </div>

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize">69 défis réussis</h6>
    <span class="counter" data-from="0" data-to="1000" data-speed="1500" data-refresh-interval="100"></span>
  </div>

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize">80 participations</h6>
    <span class="counter" data-from="0" data-to="1000" data-speed="1500" data-refresh-interval="100"></span>
  </div>

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize">207 followers</h6>
    <span class="counter" data-from="0" data-to="1000" data-speed="1500" data-refresh-interval="100"></span>
  </div>

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize">26 défis favoris</h6>
    <span class="counter" data-from="0" data-to="1000" data-speed="1500" data-refresh-interval="100"></span>
  </div>

  <div class="row" style="margin-top: 15px; justify-content: center">
    <button type="button" class="btn btn-soft-primary btn-icon btn-sm">
      <span class="btn-inner--icon">
        <i class="fas fa-user-plus"></i>
      </span>
      <span class="btn-inner--text">Add a friend</span>
    </button>
    <button type="button" class="btn btn-soft-info btn-icon btn-sm">
      <span class="btn-inner--icon">
        <i class="fas fa-user-secret"></i>
      </span>
      <span class="btn-inner--text">Follow</span>
    </button>
    <button type="button" class="btn btn-soft-danger btn-icon btn-sm">
      <span class="btn-inner--icon">
        <i class="fas fa-user-times"></i>
      </span>
      <span class="btn-inner--text">Unfriend</span>
    </button>
  </div>

</div>