<% case status %>
<% when "ongoing" then displayed_participations = user.ongoing_participations %>
<% when "achieved" then displayed_participations = user.achieved_participations %>
<% when "reviewed" then displayed_participations = user.reviewed_participations %>
<% end %>

<% if displayed_participations != nil %>

  <% displayed_participations.reverse.each do |participation| %>
    <div style="margin-top: 50px">
      <div class="container ">
        <div class="col-md-12 mx-auto eventCard">
          <%= render "shared/participation_card", participation: participation, friend: user, occasion: nil, disclaimer: false %>
        </div>
      </div>
    </div> 
  <% end %>

<% else %>
<%# A AFFICHER SI VIDE %>
  <% case status %>
  <% when "ongoing" %>
    Aucune participation en cours. Bougez-vous le cul !
  <% when "achieved" %>
    Vous n'avez toujours rien accompli. Bougez-vous le cul !
  <% when "reviewed" %>
    Vous n'avez aucune participation en cours d'examination par la communauté. Bougez-vous le cul !
  <% end %>

<% end %>

<%= javascript_include_tag "user_cards_scripts" %>