<% user.participations.each do |participation| %>
  <div style="margin-top: 50px">
    <div class="container ">
      <div class="col-md-12 mx-auto participationCard">
        <%= render "shared/participation_card", participation: participation, friend: user, occasion: nil, disclaimer: false %>
      </div>
    </div>
  </div> 
<% end %>

<%= javascript_include_tag "custom_scripts" %>