
<div class="card border-0 hover-shadow-lg"  style="height: 300px">
  
  <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/1/1552315427-noe-pp.jpg" class="avatar rounded-circle avatar-lg shadow hover-shadow-lg mx-auto" style="margin-top: 15px">

  <div class="card-body p-3 pt-0 text-center">
    <h1 class="mb-0 animated zoomIn delay-0s">Noé Margui</h1>
    <span class="d-block text-muted mb-3 animated zoomIn delay-0s">Empailleur de marmottes</span>

    <hr class="divider divider-fade" />

    <div class="row" style="justify-content: center; margin-top: -20px">
      <div class="spinner-border spinner-border-sm text-warning" role="status"></div>
    </div>

    <div class="progress" style="margin-top: 8px; margin-bottom: 5px">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row" style="justify-content: center;">
      <h5 class="mb-0" style="margin-right: 10px">Level 7</h5>
    </div>

  </div>

</div>