Bonjour <%= @user.first_name %>
<div class="flex-grid" style="overflow: hidden;">
  
  <div class="row">

    <div class="col-3">
      <%= render 'users/badges' %>  <!--for testing-->
    </div>

    <div class="col-6">
      <%= render 'users/profile' %>  <!--for testing-->
    </div>

    <div class="col-3">
      <%= render 'users/information' %>  <!--for testing-->
    </div>

  </div>

</div>

