<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div container>
      <div><br><br><br><br><br>
        <%= render 'users/profile' %>
        <br><br><br><br><br>
        <%= render 'users/information' %>
        <br><br><br><br><br>
        <%= render 'users/badges' %>
      </div>
    </div>
  </body>
</html>