

  <div class="row">

    <div class="col-3">
      <%= render 'users/badges' %>
    </div>

    <div class="col-6">
      <%= render 'users/profile' %>
    </div>

    <div class="col-3">
      <%= render 'users/information' %>
    </div>

    <div class="col" style="margin-top: 0px">
      <div class="p-4 rounded bg-secondary">
        <a href="#" class="tongue tongue-top">
          <i class="fas fa-angle-up"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-3">

    </div>

    <div class="col-6">

    </div>

    <div class="col-3">

    </div>

  </div>

</div>