<%-# ---------------------- DESCRIPTION OPEN GREEN ---------------------- -%>

<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
  <div class="col-md-9 mx-auto">
    <div class="card" style="margin-bottom: -0.4px;border-width: 3px;border-color: #27ae60">
        <div class="row row-grid" style="margin-top: -1rem">
          <a href="#" class="ml-0">
            <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/1/1552315427-noe-pp.jpg" class="avatar rounded-circle avatar-lg shadow hover-shadow-lg" style="margin-left:-0.5rem;margin-top:-1rem">
          </a>
          <a href="#" class="ml-4">
            <p class="badge badge-secondary">Noé Marguillard - Created</p>
          </a>
          <a href="#" class="ml-9">
            <p class="badge badge-lg badge-success badge-circle">3</p>
          </a>
        </div>
      <div class="card-body pt-0">
        <div class="d-flex flex-row-reverse" style="margin-top: -1.5rem">
          <button type="button" class="btn btn-md btn-secondary rounded-circle btn-icon-only" style="font-size: 19px"><p class="ml-1">⭐</p></button>
        </div>
        <div class="row row-grid mx-auto">
          <div class="col-lg-2">
            <p class="card-text">Level 7</p>
            <div class="icon bg-gradient-success text-white rounded-circle icon-shape hover-rotate-360">
              <h4 style="margin-top: 11px">🤠</h4>
            </div>
          </div>
          <div class="col-lg-9">
            <h5 class="card-title">Go paragliding above Annecy lake</h5>
            <p class="card-text">A new adventure begins. A new life in Annecy. I'm planning to get my paragliding licence before the beginning of summer. Be ready!</p>
          </div>
        </div>
        <div class="d-flex flex-row-reverse">
          <button type="button" class="btn btn-md btn-secondary rounded-circle btn-icon-only" style="font-size: 19px"><p class="ml-1">💪</p></button>
        </div>
      </div>
    </div>
    <div class="row row-grid ml-auto">
      <div class="btn-group w-25" role="group" style="max-width: 200.6px">
        <button type="button" class="btn btn-neutral btn-icon rounded-left">
          <span class="btn-inner--text d-none d-sm-inline-block">Description</span>
        </button>
      </div>
      <div class="btn-group w-25" role="group" style="max-width: 200.6px">
        <button type="button" class="btn btn-neutral btn-icon">
          <span class="btn-inner--text d-none d-sm-inline-block">Comments</span>
        </button>
      </div>
      <div class="btn-group w-25" role="group" style="max-width: 200.6px">
        <button type="button" class="btn btn-neutral btn-icon">
          <span class="btn-inner--text d-none d-sm-inline-block">Ratings</span>
        </button>
      </div>
      <div class="btn-group w-25" role="group" style="max-width: 200.6px">
        <button type="button" class="btn btn-neutral btn-icon rounded-right">
          <span class="btn-inner--text d-none d-sm-inline-block">Proof</span>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row row-grid mx-auto my-auto">
          <div class="col-lg-12">
            <p class="card-text">Hi folks! I'm really happy to introduce you to my new personnal challenge. I'm fond of airplanes since my early childhood, and i'm now deeply motivated into flying as a bird. I'm not brave enough for skydiving, thats why paragliding seems perfect for me lol. Give me strengh in upvoting my dare ! Cheers</p>
            <%= link_to participations_path(dare: dare), method: "POST", remote: true do %>
              <button type="button" class="btn btn-outline-success">
                I wanna do it!
              </button>
            <% end %>
            <%= link_to user_send_dares_path(dare: dare, recipient: User.all[1].id), method: "POST", remote: true do %>
              <button type="button" class="btn btn-outline-warning">
                I wanna invite a friend!
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>