<section class="slice slice-lg" style="padding-top: 35px">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <figure class="figure figure-sm" style="size: max-width: 100px">
          <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/7/1552824581-screenshot-2019-03-17-at-12-47-06.png" class="img-fluid rounded">
        </figure>
      </div>
    </div>

    <div class="mb-5 text-center">
      <h3 class=" mt-4">L'équipe derrière Huzza</h3>
      <div class="fluid-paragraph mt-3">
        <p class="lead lh-180">Une brochette de passionés prêts à réinventer les interractions entre utilisateurs au sein d'un réseau social bienveillant.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="#showTeamMembers" class="tongue tongue-top">
              <i class="fas fa-angle-up"></i>
            </a>
        </div>
      </div>
    </div>

    <div class="row" style="justify-content: center" id="showTeamMembers">
      <div class="col-lg-3">
        <div class="card overflow-hidden" data-animate-hover="2">
          <div class="overflow-hidden">
            <div class="animate-this">
              <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/1/1552315427-noe-pp.jpg" class="card-img-top">
            </div>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-2">Noé Marguillard</h5>
            <p class="text-muted mb-0">CEO</p>
            <ul class="nav justify-content-center mt-3">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card overflow-hidden" data-animate-hover="2">
          <div class="overflow-hidden">
            <div class="animate-this">
              <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/7/1552823752-screenshot-2019-03-17-at-12-54-58.png" class="card-img-top">
            </div>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-2">Dany About</h5>
            <p class="text-muted mb-0">CTO</p>
            <ul class="nav justify-content-center mt-3">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card overflow-hidden" data-animate-hover="2">
          <div class="overflow-hidden">
            <div class="animate-this">
              <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/7/1552823759-screenshot-2019-03-17-at-12-55-13.png" class="card-img-top">
            </div>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-2">Nans Noel</h5>
            <p class="text-muted mb-0">CPO</p>
            <ul class="nav justify-content-center mt-3">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="justify-content: center">
      <div class="col-lg-3">
        <div class="card overflow-hidden" data-animate-hover="2">
          <div class="overflow-hidden">
            <div class="animate-this">
              <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/7/1552823965-screenshot-2019-03-17-at-12-58-53.png" class="card-img-top">
            </div>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-2">Aliya Gizatullina</h5>
            <p class="text-muted mb-0">CCO</p>
            <ul class="nav justify-content-center mt-3">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card overflow-hidden" data-animate-hover="2">
          <div class="overflow-hidden">
            <div class="animate-this">
              <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/7/1552823957-screenshot-2019-03-17-at-12-58-08.png" class="card-img-top">
            </div>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-2">Nicolas Stanojevic</h5>
            <p class="text-muted mb-0">CIO</p>
            <ul class="nav justify-content-center mt-3">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 justify-content-center ml-8">
      <% if current_user.is_fake? %>
        <%= link_to "Faire confiance à l'équipe et revenir à l'inscription", root_path, class: 'btn btn-soft-danger' %>
      <% end %>
    </div>
  </div>
</div>