<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <br><br><br><br><br>

    <div container>
      <div id="ok">
        <%= render 'shared/testdany', dare: News.all[0].event, disclaimer_type: News.all[0].occasion, status: News.all[0].read %> 
      </div>
    </div>
  </body>
</html>