<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div container>
      <div>
        <br><br><br><br><br><br><br>
        <%= render 'shared/participation_card' %>
      </div>
    </div>
  </body>
</html>