<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div container>
      <div>
        <br><br><br><br><br><br><br>
        <%= render 'shared/participation_card', participation: Participation.last, occasion: "participation_created", read: false %>
      </div>
    </div>
  </body>
</html>