<div class="card-body">
  <div class="row row-grid mx-auto my-auto">
    <div class="col-lg-12">
      <p class="card-text" style="text-align: justify; text-justify: inter-word">Hi folks! I'm really happy to introduce you to my new personnal challenge. I'm fond of airplanes since my early childhood, and i'm now deeply motivated into flying as a bird. I'm not brave enough for skydiving, thats why paragliding seems perfect for me lol. Give me strengh in upvoting my dare ! Cheers</p>
    </div>
  </div>
</div>