<% case event.class.name %>
<% when "Participation" then list = [event] %>
<% when "Dare" then list = event.participations %>
<% end %>

<div class="card-body">
  <div class="row row-grid mx-auto my-auto">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-6">
          <% list.reverse.each_with_index do |event, i| %>
            <% if i > 0 %> <div class="divider"></div> <% end %>
            <div class="showProof_<%=event.id%>">
              <%= render "shared/card_elements/proofs_list", event: event %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    'use strict';

    var video = videojs('my-video');
    video.socialShare({
        facebook: { // optional, includes a Facebook share button (See the [Facebook documentation](https://developers.facebook.com/docs/sharing/reference/share-dialog) for more information)
            shareUrl: '', // optional, defaults to window.location.href
            shareImage: '', // optional, defaults to the Facebook-scraped image
            shareText: '',  // optional
            app_id: '', // optional, facebook app_id to use (if not specified, the plugin will try to
                        // use an existing FB Javascript object, or it will try to scrape the app_id from the
                        // <meta property="fb:app_id"> element in the document
        },
        twitter: { // optional, includes a Twitter share button (See the [Twitter documentation](https://dev.twitter.com/web/tweet-button/web-intent) for more information)
            handle: '', // optional, appends `via @handle` to the end of the tweet
            shareUrl: '', // optional, defaults to window.location.href
            shareText: ''
        },
        embed: { // optional, includes an embed code button
            embedMarkup: 'YOURMARKUPHERE' // required
        }
    });
</script>
