<div class="card-body">
  <!-- <% participation.proofs.each do |proof| %> -->
    <div class="row row-grid mx-auto my-auto">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-6">
            <a href="https://image.noelshack.com/fichiers/2019/11/3/1552477353-unadjustednonraw-thumb-96dc.jpg" data-fancybox="group" data-caption="My caption">
              <img src="https://image.noelshack.com/fichiers/2019/11/3/1552477353-unadjustednonraw-thumb-96dc.jpg" class="img-fluid rounded">
            </a>
          </div>
          <div class="col-6">
            <a href="https://lemag.nikonclub.fr/wp-content/uploads/2017/07/08.jpg" data-fancybox="group" data-caption="My caption">
              <img src="https://lemag.nikonclub.fr/wp-content/uploads/2017/07/08.jpg" class="img-fluid rounded">
            </a>
          </div>
        </div>
      </div>
    </div>
  <!-- <% end %> -->

  <!-- Si le current_user est aussi le participant, il peut upload des proofs -->
  <% if current_user == participation.user %>
    <!-- Bouton pour upload sa preuve (attacher la photo) -->


    <!-- <% if participation.proofs.count > 0 %> -->
      <%= link_to participation_path(participation), method: "PATCH", remote: true do %>
        <!-- Bouton pour submit ses preuves (s'il y en a) pour valider la réalisation du défi; si le défi est déjà réalisé on peut quand même resubmit des preuves pr le fun -->
      <% end %>
    <!-- <% end %> -->
  <% elsif current_user != participation.user && participation.is_achieved == nil %>
    <!-- Bouton pour contester la validité des preuves -->
  <% end %>
</div>