<div class="card-body">
  <div class="row row-grid mx-auto my-auto">
    <div class="col-lg-12">
      <div class="row" style="display: grid; grid-template-columns: 1fr 1fr;">
        <div>0</div>
        <div style="text-align: right">100</div>
      </div>
      <div class="row" style="display: grid; grid-template-columns: 1fr;">
        <div style="text-align: right">
          <input type="range" class="custom-range" min="0" max="100" step="1" id="customRange3">
          <button class="btn btn-sm btn-soft-success" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>