<div class="row ml-3">
  <% if StarDare.find_by(user: current_user, dare: dare) == nil %>
    <%= link_to star_dares_path(dare: dare), method: "POST", remote: true do %>
      <div class="icon icon-sm text-dark hover-rotate-360">
        <i class="far fa-star"></i>
      </div>
    <% end %>
  <% else %>
    <%= link_to star_dare_path(StarDare.find_by(dare: dare, user: current_user), dare: dare), method: "DELETE", remote: true do %>
      <div class="icon icon-sm text-danger hover-rotate-360">
        <i class="fas fa-star"></i>
      </div>
    <% end %>
  <% end %>
  <small class="ml-2 mt-2"><%= StarDare.where(dare: dare, user: current_user).count %></small>
</div>