<div class="btn-group w-25 cardDescription" role="group">
  <button type="button" class="btn btn-neutral btn-icon rounded-left hover-shadow-lg">
    <span class="btn-inner--text d-none d-sm-inline-block">Description</span>
  </button>
</div>
<div class="btn-group w-25 cardComments" role="group">
  <button type="button" class="btn btn-neutral btn-icon hover-shadow-lg">
    <span class="btn-inner--text d-none d-sm-inline-block">Comments</span>
  </button>
</div>
<div class="btn-group w-25 cardRating" role="group">
  <button type="button" class="btn btn-neutral btn-icon hover-shadow-lg">
    <span class="btn-inner--text d-none d-sm-inline-block">Ratings</span>
  </button>
</div>
<div class="btn-group w-25 cardProof" role="group">
  <button type="button" class="btn btn-neutral btn-icon rounded-right hover-shadow-lg">
    <span class="btn-inner--text d-none d-sm-inline-block">Proof</span>
  </button>
</div>