<div class="position-relative p-5">
    <a href="#" class="tongue tongue-bottom tongue-dark">
        <i class="fas fa-angle-up"></i>
    </a>
</div>
<footer class="footer p-0 footer p-0" style="background-color: #0a3d62" id="footer-main">
  <div class="container">
    <div class="py-4" style="height: 80px">
      <div class="row align-items-md-center">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="d-flex align-items-center">
            <p class="text-sm mb-0">© Huzza. 2019.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
        </div>
        <div class="col-sm-6 col-md-4">
          <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/catsofthp" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>