<footer class="footer p-0 footer p-0 footer-dark" style="background-color: #293443" id="footer-main">
  <div class="position-absolute p-5" style="top:-97px;width:100%">
      <a href="#" class="tongue tongue-bottom tongue-dark" style="color: #ed6040">
          <i class="fas fa-angle-up"></i>
      </a>
  </div>
  <div class="container">
    <div class="py-4" style="height: 80px">
      <div class="row align-items-md-center">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="d-flex align-items-center">
            <p class="text-sm mb-0">Huzza ®</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
        </div>
        <div class="col-sm-6 col-md-4">
          <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
            <li class="nav-item">
              <a class="nav-link" href="/home/team">
                L'équipe
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/catsofthp" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/catsofthp" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
