<% list = current_user.received_friend_requests %>
<% if list.count > 0 %>
  <% list.each_with_index do |request, i| %>
  <% if i > 0 %> <div class="dropdown-divider"></div> <% end %>
    <div class="dropdown-item">
      <b><%= link_to "#{request.user_asking.full_name}", user_path(request.user_asking) %></b> vous envoie une demande d'ajout en ami
      <%= link_to "Accepter", friend_request_path(request.id, answer: "accept"), class: "btn btn-sm btn-soft-success", method: "DELETE", remote: true %>
      <%= link_to "Refuser", friend_request_path(request.id, answer: "decline"), class: "btn btn-sm btn-soft-danger", method: "DELETE", remote: true %>
    </div>
  <% end %>
<% else %>
  Aucune demande d'ajout en ami en attente.
<% end %>