<%= content_tag :li do %>
<%= link_to 'Switch to English', locale :en %>
<% end unless current_page?(locale: :en) %>

<%= link_to 'Switch to English', locale :fr %>
<% end unless current_page?(locale: :fr) %>

<h1><%= :greetings %></h1>